<form [formGroup]="emailForm" class="form-container">
    <mat-form-field appearance="fill">
        <mat-label>From</mat-label>
        <input matInput formControlName="from">
        <mat-error *ngIf="emailForm.controls['from'].errors?.required">
            {{messageConfig.form.error.required}}
        </mat-error>
        <mat-error *ngIf="emailForm.controls['from'].errors?.pattern">
            {{messageConfig.form.error.pattern}}
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>To</mat-label>
        <input matInput formControlName="to">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Subject</mat-label>
        <input matInput formControlName="subject">
        <mat-error *ngIf="emailForm.controls['subject'].errors?.required">
            {{messageConfig.form.error.required}}
        </mat-error>
        <mat-error *ngIf="emailForm.controls['subject'].errors?.maxlength">
            {{messageConfig.form.error.maxlength}}
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <textarea
            cdkTextareaAutosize
            [cdkAutosizeMaxRows]="maxTextareaSize"
            matInput
            formControlName="text">
        </textarea>
        <mat-error *ngIf="emailForm.controls['text'].errors?.required">
            {{messageConfig.form.error.required}}
        </mat-error>
        <mat-error *ngIf="emailForm.controls['text'].errors?.maxlength">
            {{messageConfig.form.error.maxlength}}
        </mat-error>
    </mat-form-field>
    <div class="form-actions">
        <ng-container [ngSwitch]="emailDeliveryStatus">
            <button
                @fade
                *ngSwitchCase="EmailDeliveryStatus.ready"
                mat-fab
                class="send-button form-action"
                [class.mat-elevation-z4]="emailForm.valid"
                type="submit"
                [disabled]="emailForm.invalid"
                (click)="onSubmit()">
                <mat-icon>send</mat-icon>
            </button>
            <button
                @fade
                *ngSwitchCase="EmailDeliveryStatus.waiting"
                mat-fab
                class="send-button form-action mat-elevation-z4">
                <mat-progress-spinner
                    mode="indeterminate"
                    diameter="24">
                </mat-progress-spinner>
            </button>
            <button
                @fade
                mat-fab
                *ngSwitchCase="EmailDeliveryStatus.success"
                class="send-button success mat-elevation-z4">
                <mat-icon>done</mat-icon>
            </button>
            <button
                @fade
                mat-fab
                *ngSwitchCase="EmailDeliveryStatus.fail"
                class="send-button fail mat-elevation-z4">
                <mat-icon>error</mat-icon>
            </button>
        </ng-container>
    </div>
</form>