.form-container {
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
