@import '../../../../styles/variables';

.form-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .send-button {
        &.success {
            background-color: $success;
        }
        &.fail {
            background-color: $fail;
        }
    }
}
